<div class='container'>
    <h2>Recuperá el acceso a tu cuenta</h2>
    <p>A continuación ingresa tu email y te enviaremos un link para reestablecer tu contraseña</p>
    <form id='form-recover' action=''>
        <input type='email' name='email' id='email' />
        <input class='btn btn-light' type='submit' value='Enviar link' />
    </form>
    <p class='hidden'>Link enviado!</p>
    <p><a href='/'>Volver al home</a></p>
</div>
<script src='js/recover.js'></script>