<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modern Footer</title>
  <link rel="stylesheet" href="/arquitectura/backend/src/public/css/styles.css">
  <!-- Enlace a Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4 class="footer-text">Sobre Nosotros</h4>
          <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida turpis non ipsum fermentum
            malesuada.</p>
        </div>
        <div class="col-lg-4">
          <h4 class="footer-text">Enlaces útiles</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Inicio</a></li>
            <li><a href="#" class="footer-link">Productos</a></li>
            <li><a href="#" class="footer-link">Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h4 class="footer-text">Redes Sociales</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Facebook</a></li>
            <li><a href="#" class="footer-link">Twitter</a></li>
            <li><a href="#" class="footer-link">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Enlace a Bootstrap JS y jQuery (Opcional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>